---
import BaseLayout from '../layouts/BaseLayout.astro';
import WorkingTogetherCard from '../components/WorkingTogetherCard.astro';
const pageTitle = "Working together";
const entries = await Astro.glob('./working-together/*.astro');
---

<BaseLayout pageTitle={pageTitle}>

<h2>Recommendations / Testimony</h2>
<p>This page is dedicates to all the awesome people I have worked with in my career. Some of them have taken the time to write about what working together was. </p>

<div class="testimonials">
  {entries.map((Entry) => (
    <WorkingTogetherCard
      name={Entry.meta.name}
      picture={Entry.meta.picture}
      excerpt={Entry.meta.excerpt}
      company={Entry.meta.company}
      linkedin={Entry.meta.linkedin}
      relationship={Entry.meta.relationship}
    >
      <Entry.default />
    </WorkingTogetherCard>
  ))}
</div>



</BaseLayout>