---
import BaseLayout from './BaseLayout.astro';
import { Picture } from 'astro:assets';
import defaultImage from '../assets/images/default.jpg';
const resolveImage = (image) => {
    return image && imageMap[`../assets/images/${image.url}`] ? imageMap[`../assets/images/${image.url}`].default : null;};
const { frontmatter } = Astro.props;
const imageMap = import.meta.glob('../assets/images/*', { eager: true });
const formattedDate = new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
    timeZone: "UTC",
});
const imagePath = resolveImage(frontmatter.image) || defaultImage;
---
<style>

    .blogImage{
        width:100%;
        height:auto;
        aspect-ratio: 4 / 3; 
        object-fit: cover;
        margin-top: 2rem;
    }
    @media only screen and (min-width: 634px) {
        .blogImage{
            width:75%;
            height:auto;
            margin-left:-25%;
            margin-top: 2rem;
        }

        h1{margin-top: -10rem; margin-left:-3rem; padding:0 3rem ; background-color:#eeeeeee9; display: inline-block; }
    }
</style>
<BaseLayout pageTitle={frontmatter.title} description={frontmatter.description} isblog="true" pubdate={frontmatter.pubDate} imagepath={imagePath.src}>
    <Picture src={imagePath} alt={frontmatter.image.alt}}  pictureAttributes={{ style: "background-color: #CCCCCC "}} class="blogImage" />
    <h1>{frontmatter.title}</h1>
    <p>Publication date: {formattedDate}</p>
    <slot />
</BaseLayout>